/*This aligns it in the center of the page*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*Hide the default checkbox.*/

input[type="checkbox"] {
  display: none;
}

/*Create the slider base an knob*/

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background-color: #dff7fa;
  border-radius: 25px;
  position: relative;
  transition: all 0.4s ease-out;
}

label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background-color: #a5cace;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}
/*Create the styling for the checked state*/
input:checked + label {
  background: #96e7ef;
}

input:checked + label::after {
  transform: translate3d(50px, 0, 0);
  background-color: #1d6269;
}

/*SVG Page loader style*/

/*Style the SVG circles*/

#page-loader {
  width: 150px;
  height: 150px;
}

#page-loader circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  animation-name: loader;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}

#page-loader circle:nth-child(1) {
  stroke: #ffc114;
  stroke-dasharray: 50;
  animation-delay: -0.2s;
}

#page-loader circle:nth-child(2) {
  stroke: #188f22;
  stroke-dasharray: 100;
  animation-delay: -0.4s;
}

#page-loader circle:nth-child(3) {
  stroke: #38828b;
  stroke-dasharray: 180;
  animation-delay: -0.6s;
}

#page-loader circle:nth-child(4) {
  stroke: #81355b;
  stroke-dasharray: 350;
  animation-delay: -0.8s;
}

/*Create the keyframe animation*/

@keyframes loader {
  50% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------*/

/*Style the card notification*/

#notification {
  position: absolute;
  top: 2rem;
  right: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(39, 55, 199, 0.13);
  box-shadow: 2px 2px 4px 0 rgba(134, 22, 22, 0.07);
  border-radius: 3px;
  padding: 2rem 4rem 2rem 2rem;
  animation-name: slideleft;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-delay: 1;
  animation-timing-function: ease-in;
}

#notification:after {
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  background-color: rgb(22, 216, 39);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px 0 0 2px;
}

#notification p {
  margin: 0 0 1rem 0;
}

#notification p:last-child {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

/*Animation for the card*/

@keyframes slideleft {
  0%,
  100% {
    transform: translate3d(100%, 0, 0);
  }

  10%,
  90% {
    transform: translate3d(-2rem, 0, 0);
  }
}

/*--------------------------------------------------------*/

.hamburger-button {
  position: relative;
  width: 45px;
  height: 34px;
  transition: 3s ease-in-out;
}

.hamburger-button span {
  position: absolute;
  height: 8px;
  border-radius: 4px;
  width: 100%;
  background-color: #3d4146;
  top: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.hamburger-button span:nth-child(1) {
  top: 0px;
}

.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) {
  top: 13px;
}

.hamburger-button span:nth-child(4) {
  top: 26px;
}

/*style the active state and create  cross*/
.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}
